<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4>Add New Pokemon</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl" placeholder="https://example.com/pokemon.png" required>
          </div>

          <div class="form-group">
            <label>Types</label>
            <div class="type-selector">
              <div class="type-option" *ngFor="let type of pokemonTypes">
                <label [style.background-color]="getTypeColor(type)" class="type-label">
                  <input type="checkbox" (change)="onTypeChange(type, $event)" [value]="type">
                  {{ type }}
                </label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Add Pokemon</button>
          <button type="button" class="btn btn-secondary btn-block" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>