<div class="row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Pokemon by name (min 3 characters)" [(ngModel)]="searchName" (ngModelChange)="onSearchChange()">
    </div>

    <h4>Pokemon List ({{ totalCount }})</h4>
    
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let pokemon of pokemonList; let i = index">
        <div class="card h-100" [class.active]="i === currentIndex" (click)="setActivePokemon(pokemon, i)" style="cursor: pointer;">
          <button *ngIf="pokemon.isCustom" class="btn btn-danger btn-sm delete-btn" (click)="deletePokemon(pokemon, $event)">X</button>
          <div class="text-center p-3">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default || pokemon.sprites.front_default" 
                 [alt]="pokemon.name" 
                 style="height: 120px; width: auto;">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title text-capitalize">
              {{ pokemon.name }}
              <span *ngIf="pokemon.isCustom" class="badge badge-primary ml-1" style="font-size: 10px;">Custom</span>
            </h5>
            <div class="mb-2">
              <span *ngFor="let type of pokemon.types" 
                    class="badge mr-1" 
                    [style.background-color]="getTypeColor(type.type.name)">
                {{ type.type.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mb-3" *ngIf="!searchName || searchName.length < 3">
      <button class="btn btn-secondary mr-2" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }}</span>
      <button class="btn btn-secondary ml-2" (click)="nextPage()" [disabled]="(currentPage * pageSize) >= totalCount">Next</button>
    </div>
  </div>

  <div class="col-md-4">
    <div *ngIf="currentPokemon" class="card">
      <div class="card-header">
        <h5 class="text-capitalize mb-0">
          {{ currentPokemon.name }}
          <span *ngIf="currentPokemon.isCustom" class="badge badge-primary ml-1" style="font-size: 10px;">Custom</span>
        </h5>
      </div>
      <div class="card-body text-center">
        <img [src]="currentPokemon.sprites.other['official-artwork'].front_default || currentPokemon.sprites.front_default" 
             [alt]="currentPokemon.name" 
             style="height: 200px; width: auto;">
        
        <div class="mt-3">
          <span *ngFor="let type of currentPokemon.types" 
                class="badge mr-1" 
                [style.background-color]="getTypeColor(type.type.name)">
            {{ type.type.name }}
          </span>
        </div>

        <div class="mt-3 text-left">
          <p *ngIf="currentPokemon.height"><strong>Height:</strong> {{ currentPokemon.height / 10 }} m</p>
          <p *ngIf="currentPokemon.weight"><strong>Weight:</strong> {{ currentPokemon.weight / 10 }} kg</p>
          
          <div *ngIf="currentPokemon.stats && currentPokemon.stats.length > 0">
            <h6>Stats:</h6>
            <div *ngFor="let stat of currentPokemon.stats">
              <div class="d-flex justify-content-between">
                <span class="text-capitalize">{{ stat.stat.name }}:</span>
                <strong>{{ stat.base_stat }}</strong>
              </div>
              <div class="progress mb-2" style="height: 8px;">
                <div class="progress-bar" [style.width.%]="(stat.base_stat / 255) * 100"></div>
              </div>
            </div>
          </div>

          <div *ngIf="currentPokemon.abilities && currentPokemon.abilities.length > 0">
            <h6 class="mt-3">Abilities:</h6>
            <span *ngFor="let ability of currentPokemon.abilities" class="badge badge-light mr-1 text-capitalize">
              {{ ability.ability.name }}
              <span *ngIf="ability.is_hidden">(hidden)</span>
            </span>
          </div>
        </div>
        
        <button *ngIf="currentPokemon.isCustom" class="btn btn-danger mt-3" (click)="deletePokemon(currentPokemon, $event)">Delete Pokemon</button>
      </div>
    </div>
  </div>
</div>